@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=No75to+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*���������*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Montserrat";
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 48px;
}

form {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 438px;
    height: 56px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    display: block;
    padding: 19px 25px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    transition: .3s ease;
}

.showParent {
    position: relative;
}

.show {
    cursor: pointer;
    position: absolute;
    top: 20%;
    right: 5%;
    width: 30px;
    height: 30px;
    background-image: url("https://go.wepro.uz/_nuxt/img/monkey-closed.397bfe9.png");
    background-repeat: no-repeat;
    background-position: 50% 57%;
    background-size: cover;
    transition: .5s ease;
    border-radius: 100%;
}

button {
    width: 438px;
    height: 56px;
    background: #0047FF;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    transition: .4s linear;
}

#signIn {
    display: block;
    margin-top: 38px;
    font-weight: 700;
    font-size: 18px;
    color: #0047FF;
}

.error {
    border-color: red;

    &::placeholder {
        color: red;
    }
}