


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

button:active {
    scale: .9;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #F0F0F0;
    height: 80px;
    display: flex;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.left-header {
    display: flex;
    gap: 21px;
}

.left-header p {
    cursor: pointer;
    transition: .3s;
    color: gray;
}

.left-header p:hover {
    color: black;
}

.right-header {
    display: flex;
    gap: 19px;
}

.right-header img {
    cursor: pointer;
}

.header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 80px;
}

.gmail-a {
    font-weight: 600;
    color: #0047FF;
}

.card-block {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    margin-bottom: 21px;
    width: 2400px;
}

.card {
    width: 282px;
    height: 160px;
    border-radius: 15px;
    position: relative;
    box-shadow: -10px 0px 10px 10px rgb(207, 205, 205);
}

.card h3 {
    color: white;
    position: absolute;
    top: 14px;
    left: 20px;
    font-weight: 500;
    font-size: 24px;
}

.wall {
    margin-top: 60px;
}

.card p {
    color: white;
    position: absolute;
    top: 126px;
    left: 20px;
    font-weight: 700;
    font-size: 14px;
}

.all-wall {
    font-weight: 600;
}

.h1-welcome {
    margin-top: 44px;
}

table {
    width: 100%;
    margin-top: 50px;
    border-collapse: separate;
    border-spacing: 0px 0px;
    margin-bottom: 30px;
}

table th {
    text-align: start;
    padding: 0 0 10px 0;
    opacity: 0.5;
    cursor: pointer;
}

table td {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 600;
}


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(0px);
    }
  }

  .tranz-block h2 {
    margin-top: 40px;
  }

  .null-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
  }

  .anime {
    animation: scroll 5s linear infinite;
  }

  .null-card button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    text-align: center;
    color: rgb(65, 63, 63);
    background-color: white;
    transition: .3s;
    font-size: 16px;
    font-weight: 600;
  }

  .null-card button:hover {
    box-shadow: 0 0 10px 10px rgb(65, 63, 63);
    background-color: white;
    color: rgb(65, 63, 63);
    font-size: 16px;
    font-weight: 600;
  }

  center button {
    padding: 10px;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
  }

  center button:hover {
    box-shadow: 0 0 10px 10px gray;
    background-color: white;
    color: gray;
  }
