* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: grab;
}

button {
  all: unset;
  background-color: blue;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  width: 300px;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
}

.log-in__btn,
.sign-up__btn {
  background-color: inherit;
  color: blue;
}

/* Home Page */
/* Header */
.header {
  background-color: #F0F0F0;
}

.container {
  width: 80%;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-list,
.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-img {
  cursor: pointer;
}

/* Welcome */
.welcome-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 44px 0 74px;
}

.welcome-email {
  color: blue;
  cursor: pointer;
}

/* Wallet */
.my-wallet {
  margin-bottom: 24px;
}
.wallet-box {
  width: 282px;
  height: 160px;
  background-color: rgb(208, 208, 208);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 23px;
  margin-bottom: 18px;
  color: white;
}

.all-wallets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.show {
  display: inline-block;
  font-size: 18px;
  color: blue;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

/* transaction */
.transaction-content {
  margin: 74px 0;
}

table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

th {
  padding: 5px 0;
  text-align: start;
  color: gray;
}

table td {
  padding: 20px 0;
  border-bottom: 1px solid blue;
  /* box-shadow: 0px 3px rgb(0, 0, 255, .1); */
}

/* Modal */
.modal-bg {
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  transition: .5s ease;
  scale: 0;
}

.minimize-bg {
  width: 60%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: rgb(220, 220, 220);
  color: #000;
  border-radius: 10px;
  transition: .5s ease;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  scale: 1.5;
}

.wallet-form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wallet-form input, .select {
  outline: none;
  height: 30px;
  padding: 0 10px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 5px;
}

.wallet-form input:focus, .select:focus {
  border-color: blue;
}

.select {
  display: block;
  padding: .6em 1.4em .5em .8em;
}

/* Close Modal */
.close-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50px;
  height: 20px;
  /* background: #000; */
  position: absolute;
  top: 10px;
  left: 20px;
}

.close-box span {
  display: block;
  width: 15px;
  height: 15px;
  background-color: gray;
  border-radius: 100%;
  cursor:pointer;
}

.close:hover {
  background-color: red;
}

.minimize:hover {
  background-color: goldenrod;
}