@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button:active {
  scale: .9;
}

.container {
  width: 1600px;
  margin: 150px auto;
}

.reg-h1 {
  text-align: center;
}

.input-block {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 35px;
}

.input {
  outline: none;
}

.btn-center {
  text-align: center;
}

.name-p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.input {
  background: transparent;
  border: 1px solid #543FD3;
  border-radius: 5px;
  padding: 15px 20px;
}

.continue {
   cursor: pointer;
   margin-top: 30px;
   padding: 10px 30px;
   background-color: #0047FF;
   border-radius: 10px;
   border: none;
   color: white;
   margin-bottom: 30px;
   transition: .3s;
}

.continue:hover {
  background-color: white;
  box-shadow: 0 0 10px 10px #0047FF;
  color: #0047FF;
  font-weight: 600;
}

.btn-center a {
  font-weight: 600;
  color: #0047FF;
  transition: .3s;
}

.btn-center a:hover {
  text-decoration: underline;
}

.error {
  border: 1px solid red;
}