@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

button:active {
    scale: .9;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #F0F0F0;
    height: 80px;
    display: flex;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.left-header {
    display: flex;
    gap: 21px;
}

.left-header p {
    cursor: pointer;
    transition: .3s;
    color: gray;
}

.left-header p:hover {
    color: black;
}

.right-header {
    display: flex;
    gap: 19px;
}

.right-header img {
    cursor: pointer;
}

.header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 80px;
}


table {
    width: 100%;
    margin-top: 50px;
    border-collapse: separate;
    border-spacing: 0px 0px;
    margin-bottom: 30px;
}

table th {
    text-align: start;
    padding: 0 0 10px 0;
    opacity: 0.5;
    cursor: pointer;
}

table td {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

.container h1 {
    margin-top: 44px;
    margin-bottom: 11px;
}