.card-image {
  perspective: 25px;
}

#inner {
  width: 282px;
  height: 160px;
  background-color: rgb(208, 208, 208);
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;

  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}